.jumbotron {
    padding: 2rem 1rem;
    background-color: beige;

}

.navbar {
    background-color: #6c8696;
}

.kartu {
    background-color: #6c8696;
}

.blockquote {
    background-color: #6c8696;
}

